<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Registration</title>
</head>
<body>
	<form name="registerForm" action="register" method="post">
	<h1><b>Customer Registration</b></h1><br>
	<hr>
	Please Register<br>
	First Name:<input type="text" name="firstName"/><br>
	Second Name:<input type="text" name="secondName" /><br>
	Phone Number:<input type="text" name="number" /><br><br>
	<input type="button" value="Submit Request" />
	</form>
</body>
</html>